# This is a github workflow to Print “Hello from Shreyas”


name: Hello World Workflow
on: [push]
jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    steps:
      - name: Print Hello from Shreyas
        run: echo "Hello from Shreyas"

